@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 3rem 0 0 0;
    font-size: .938rem;
    background: #EEE6DE;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* REUSABLE CSS CLASSES */

.section {
    width: 100%;
}
.section-title {
    font-size: 2rem;
    line-height: 300%;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.home, 
.bio, 
.proyects, 
.contact {

    color: #1D1D1B;

}


/* LAYOUT =================== */
.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* HEADER SECTION ======================*/
.header {
    width: 100%;
    z-index: 9999;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s;
}
.nav {
   height: 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo,
.nav-open {
    color: #1D1D1B;
    font-weight: 500;
    transition: 0.3s;
}

.logo:hover, .nav-open:hover {
    color: #ce0f0f;
}

nav-open {
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .main-nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 3.5rem 0 1.5rem;
        text-align: center;
        background: #1D1D1B;
        transition: 0.4s;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        z-index: 99999;
    }    
}

.nav-item {
    margin-bottom: 1.5rem;
}

.nav-link {
    font-size: 1.3rem;
    color: #EEE6DE;
    font-weight: 400;
    transition: .3s;
}

.nav-link:hover {
    color: #666;
    font-weight: 500;
}

.nav-close {
    color: #fff;
    position: absolute;
    top: .4rem;
    right: 1.115rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.show-menu {
    top: 0;
}

/* Active Link ============== */
.active-link {
    position: relative;
    color: #fff;
    font-weight: 500;
}

.active-link::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 5px;
    background: #ce0f0f;
    border-radius: 50px;
}

/* CHANGE THE BACKGROUND ON SCROLL ==================*/
.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background: #EEE6DE;
}

/* HOME SECTION =============== */
.home-data {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    margin-top: 7rem;
}

.home-data h3 {
    font-weight: 600;
    margin-bottom: 1rem;
    color: #1D1D1B;
    text-transform: uppercase;
}

.home-data h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-transform: uppercase;


}

.text-1 {
    font-size: 1.5rem;
    font-family: 'Poly', serif;
}
.text-2 {
    font-size: 1.5rem;
    font-family: 'Poly', serif;
}


@media screen and (max-width: 576px) {

    .max-width {
        padding: 0;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .home-data h3 {
        font-size: 2rem;
    }

    .home-data h1 {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .text-1 {
        font-size: 1.3rem;
    }
    .text-2 {
        font-size: 1.3rem;
       

    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 7rem;
    }

    .nav {
        height: 5rem;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-item {
        margin-left: 2.5rem;
        margin-bottom: 0;
    }

    .nav-link, .logo {
        font-size: 1rem;
        color: #1D1D1B;
    }

    .nav-link:hover {
        color: #ce0f0f;
    }

    .active-link {
        color: #ce0f0f;
    }

    .active-link::before {
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }

    .nav-open,
    .nav-close {
        display: none;
    }

    .home-data h3 {
        font-size: 2rem;
    }

    .home-data h1 {
        font-size: 5.5rem;
        line-height: 6rem;
        font-weight: 700;
    }
}

/*CONTACTO CSS*/
.contact {
    color: #EEE6DE;
    background: #1D1D1B;
}
.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .info .head {
    font-weight: 500;
}
.contact .contact-content .info .sub-title {
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea {
    height: 80px;
    width: 100%;
}
.contact .right form .name {
    margin-right: 10px;
}
.contact .right form .email {
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 0px solid lightgrey;
    border-radius: 0;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Montserrat';
    background: #EEE6DE;
}
.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}
.contact .right form .button {
    height: 47px;
    width: 170px;
}
.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    background: #333;
    color: #EEE6DE;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover {
    color: #333;
    background: none;
}
.contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
}